@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #f97316;
  --color-primary-dark: #c2410c;
  --color-primary-light: #ffedd5;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200;
  }

  :root.dark body {
    @apply bg-gray-900 text-white;
  }
}